
html,
body,
#root {
    margin: 0;
    padding: 0;
    font-family: 思源黑体, 'Noto Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-size: 14px;
    font-weight: normal;
    line-height: normal;
    letter-spacing: 0;
}

canvas {
    display: block;
}

body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: linear-gradient(-8.21deg, rgba(0, 190, 255, 0.07999999821186066) 0%, rgba(20, 100, 250, 0.07999999821186066) 100%);
    color: #333333;
}
img{
    border: none;
}
ul,
ol {
    list-style: none;
}

a, a:hover {
    color: #333333;
    text-decoration: none;
}


#root {
    position: relative;
}

footer, header {
    padding: 0;
    width: 100%;
    position: relative;
}

header {
    background-color: #FFFFFF;
    height: 60px;
}

header img {
    margin: 15px 48px;
}

footer {
    text-align: center;
    padding: 5px 0;
}

footer a {
    color: #6E6E6E;
    font-size: 12px;
}

main {

}

main .wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    position: relative;
}

main .wrapper .preview, .reference {
    width: 48%;
    min-width: 380px;
    padding: 0 1%;
    position: relative;

}


main .wrapper .preview .toolbar {
    display: flex;
    justify-content: space-between;
    margin: 16px 0;
}

main .wrapper .preview .toolbar > div:last-child {
    text-align: right;
}

main .wrapper .preview .toolbar a {
    padding: 5px 10px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(200, 200, 200, 1);
}

main .wrapper .preview .toolbar a img {
    padding: 0 5px;
}

main .wrapper .preview .doc {
    border-radius: 8px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 4px 10px 0 rgba(0, 80, 250, 0.32);
    height: 790px;
    overflow-y: scroll;
    padding: 0 30px 30px;
}

main .wrapper .preview .doc table {
    border-collapse: collapse;
    width: 100%;
}

main .wrapper .preview .doc table caption {
    color: rgba(51, 51, 51, 1);
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding: 30px 0;
}

main .wrapper .preview .doc table th {
    border: 1px solid rgba(200, 200, 200, 1);
    background: rgba(20, 100, 250, 0.08);
    color: rgba(51, 51, 51, 1);
    font-weight: bold;
    font-size: 14px;
    line-height: normal;
    letter-spacing: 0;
    text-align: center;
    height: 36px;
}

main .wrapper .preview .doc table thead th:first-child {
    border-radius: 4px 0 0 0;
}

main .wrapper .preview .doc table thead th:last-child {
    border-radius: 0 4px 0 0;
}

main .wrapper .preview .doc table tbody td {
    border: 1px solid rgba(200, 200, 200, 1);
    background: rgba(255, 255, 255, 1);
    padding: 4px 6px;
}

main .wrapper .preview .doc table tbody tr td:first-child {
    background: rgba(245, 245, 245, 1);
    white-space: nowrap;
    cursor: pointer;
}

main .wrapper .preview .doc table tbody tr td:last-child {
    width: 100%;
}

main .wrapper .preview .doc table tbody tr td div {
    display: flex;
    justify-content: flex-start;
}

main .wrapper .preview .doc table tbody tr td div label {
    cursor: pointer;
}

main .wrapper .preview .doc table tbody tr td div span {
    flex: 1;
}

main .wrapper .reference {
    margin-top: 10px;
    height: 860px;
    overflow: hidden;
}

main .wrapper .reference iframe {
    height: 860px;
    width: 100%;
    border: none;
}
