<!DOCTYPE html>
<html lang="en">
<head>
    <title> 文本要素提取 </title>
    <meta charset="UTF-8">
</head>
<body>
<table width="100%" cellpadding="5" cellspacing="0" align="center">
    <tr bgcolor="#015bac" style="height: 80px">
        <td width="30"></td>
        <td width="120" valign="center"><img src="/static/doc/huaan.png" width="195" height="50"></td>
        <td valign="center"><h1 align="center" style="color: #F0F0F0">文本要素提取</h1></td>
    </tr>
</table>

<table width="100%" cellpadding="5" cellspacing="0" align="center">
    <tr>
        <td width="30"></td>
        <td valign="center"><h2 align="center"></h2>
            <p>普通用户由此登录</p>
            <form id="form_user" method="post">
                <input type="hidden" name="form_name" value="form_user">
                用户登录：<input type="text" pattern=".{1,300}" required title="消息不能为空" name="user_id" placeholder="用户名..." size="50">
                <input type="submit" value="Login", style="color: white; border-color:transparent;background-color: #015bac;">
            </form>
        </td>
    </tr>
</table>

<hr width="100%" align="left">

<address>
    华安基金<br>
    上海浦东新区世纪大道8号<br>
    40088-50099 <br>
    <a href="https://www.huaan.com.cn/">公司主页入口</a>
</address>
<p>Contact us at <a href="mailto:service@huaan.com.cn">service@huaan.com.cn</a> </p>
</body>
</html>