<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>华安基金-智能提取助手</title>
    <link href="/static/css/runtime.css" rel="stylesheet"/>


</head>

<body>
<form action="" method="post"></form>
<div id="root">

    <header>
        <img src="/static/image/logo.png" width="119" height="30" alt=""/>
    </header>
    <main>
        <div class="wrapper">
            <div class="preview">
                <div class="toolbar">
                    <div>
                        <a href="/lifecycle"><img src="/static/image/back.png" alt="" width="12" height="12" />返回上传文件</a>
                    </div>
                    <div>
                        <a href="javascript:void(0)" onclick="showAll()"><img src="/static/image/tag.png" alt="" width="12" height="12"/>标记所有要素</a>
                        <a href="{{ xlsx }}"><img src="/static/image/download.png" alt="" width="12" height="12"/>保存表格</a>
                    </div>
                </div>
                <div class="doc">

                    <table>
                        <caption>
                            {{ file }}
                        </caption>
                        <thead>
                        <tr>
                            <th>要素</th>
                            <th>文本</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for key in keys_map %}
                        <tr>
                            <td onclick="showText('{{key}}')">{{key}}</td>
                            <td>
                                {% for entitiy in keys_map[key] %}
                                <div>
                                    {% for text in entitiy[0] %}
                                    <label onclick="showText('{{ key }}#{{ entitiy[1] }}')">[第{{entitiy[1]}}页]:</label>
                                    <span>{{ text }}</span>
                                    {% endfor %}
                                </div>
                                {% endfor %}
                            </td>
                        </tr>
                        {% endfor%}


                        </tbody>
                    </table>


                </div>
            </div>
            <div class="reference">
                <iframe id="pdf" src="{{ pdf }}" view="fit" frameborder="0" ></iframe>
            </div>
        </div>
        </form>
    </main>
</div>
<script type="application/javascript">
    function showAll() {
        var form = document.getElementsByTagName("form")[0];
        var inputEl = document.createElement("input");
        inputEl.name = "show_all";
        inputEl.type = "hidden";
        inputEl.value = "true";
        form.appendChild(inputEl);
        form.submit();
    }

    function showText(text) {
        var form = document.getElementsByTagName("form")[0];
        var inputEl = document.createElement("input");
        inputEl.name = "show_text";
        inputEl.type = "hidden";
        inputEl.value = text;
        form.appendChild(inputEl);
        form.submit();
    }
</script>

</body>

</html>
