<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>文档问答助手</title>
    <link href="/static/css/upload.css" rel="stylesheet"/>


</head>
<body>

<div id="root">
    <header>
        <img src="/static/image/logo.png" width="119" height="30" alt=""/>
    </header>

    <main>
        <form method="post" enctype="multipart/form-data">
            <input type="hidden" name="analysis" value="true"/>
            <div class="wrapper">

                <div class="box">
                    <div class="logo"><img src="/static/image/ai-logo.png" alt="" width="266.7" height="70"/></div>
                    <div class="brief">
                        <p>你好，我是你的文档问答助手！</p>
                        <p>我可以通过问答的方式帮您回复文档中的问题</p>
                    </div>
                    <div class="upload">
                        <div id="upload.ready" class="ready">
                            <div onclick="doUpload()"><img src="/static/image/upload-ready.png" alt="" width="24" height="24"/></div>
                            <div onclick="doUpload()">
                                <input id="uploadInput" type="file" name="file"
                                       accept="application/pdf" value="上传文档"
                                       style="display: none"/>上传文档
                            </div>
                            <!--<div class="tips">单击浏览或放在此处上传</div>-->
                        </div>
                        <div id="upload.uploading" class="uploading" style="display: none">
                            <div><img src="/static/image/upload-done.png" alt="" width="24" height="24"/></div>
                            <div><label id="uploadFileName">DOCUMENT.PDF</label><span class="tips" id="uploadFileSize">399KB</span>
                            </div>
                            <div><img src="/static/image/upload-remove.png" alt="" width="16" height="16" onclick="doCancel()"/></div>
                        </div>
                        <div class="done" style="display: none">
                            <div><img src="/static/image/upload-done.png" alt="" width="24" height="24"/></div>
                            <div>上传文档</div>
                            <div><img src="/static/image/upload-remove.png" alt="" width="16" height="16"/></div>
                        </div>
                    </div>
                    <div class="action">
                        <button id="submitBtn" type="submit" disabled>提交</button>
                    </div>
                    <p class="tips">
                        <p>
                            你可以尝试上传以下格式文档：*.pdf
                        </p>
                    </div>
                </div>
        </form>


    </main>

</div>


</body>
<script>

    function doUpload() {
        document.getElementById("uploadInput").click();
    }

    function doCancel() {
        swap(false)
    }

    function swap(isReady) {
        if (isReady) {
            document.getElementById("upload.ready").style.display = 'none';
            document.getElementById("upload.uploading").style.display = 'flex';
        } else {
            document.getElementById("upload.ready").style.display = 'block';
            document.getElementById("upload.uploading").style.display = 'none';
            document.getElementById("uploadFileName").innerText = '';
            document.getElementById("uploadFileSize").innerText = '';
        }
        document.getElementById("submitBtn").disabled = isReady ? '' : 'disabled';

    }

    function processFile(e) {
        const file = document.getElementById('uploadInput').files[0];
        if (file) {
            const fn = document.getElementById("uploadFileName");
            const fz = document.getElementById("uploadFileSize");

            fn.innerText = file.name;

            var size = file.size;
            size = size / 1024;
            if (size <= 1024) {
                size = Math.round(size * 100) / 100;
                size = size + " KB";
            } else {
                size = size / 1024;
                size = Math.round(size * 100) / 100;
                size = size + " MB";
            }
            fz.innerText = size;


            swap(true);
        }
    }

    function contentLoaded() {
        document.getElementById('uploadInput').addEventListener('change',
            processFile, false);
    }

    window.addEventListener("DOMContentLoaded", contentLoaded, false);
</script>

</html>
